*{margin: 20;

    padding: 20;
    font-family: 'Poppins', sans-serif;
}

.form-container {
    background: linear-gradient(rgba(120, 112, 112, 0.5),rgb(114, 210, 237));
    background-size: cover;
    background-position: center;
    height: 90vh;
    font-size: larger;
    font-weight: bold;
}
button{
    background-color: rgb(24, 16, 78);
    color: azure;
    width: 80px;
    height: 40px;
    border-radius: 30px;
}
p{
    text-align: center;
}
h2{
    text-align: center;
}